<template>
  <div class="py-10">
    <!-- Button that, when clicked, triggers a method to show the element -->
    <button id="myButton" @click="showElement">Click Me</button>

    <!-- Element that is conditionally rendered based on the component's state -->
    <div v-if="elementVisible" id="resultElement">
      The element is now visible!
    </div>
  </div>
</template>

<script>
export default {
  data() {
    return {
      elementVisible: false,
    };
  },
  methods: {
    showElement() {
      this.elementVisible = true;
    },
  },
};
</script>


<style>
/* Optional: Add some styles here if needed */
</style>
