<template>
  <v-container class="py-10">
    <v-row>
      <v-col cols="12" sm="6">
        <v-text-field
          label="New Task"
          v-model="newTask"
          :rules="[rules.required]"
          @keyup.enter="addTask"
        ></v-text-field>
      </v-col>
      <v-col cols="12" sm="6">
        <v-btn color="primary" @click="addTask">Add Task</v-btn>
      </v-col>
    </v-row>
    <v-list dense>
      <v-list-item
        v-for="(task, index) in tasks"
        :key="index"
        
      >
        <v-list-item-content  :class="{ 'task-completed': task.completed }">
          {{ task.title }}
        </v-list-item-content>
        <v-btn @click="markCompleted(index)">Done</v-btn>
      </v-list-item>
    </v-list>
  </v-container>
</template>

<script>
export default {
  name: 'TaskList',
  data() {
    return {
      newTask: '',
      tasks: [],
      rules: {
        required: value => !!value || 'Required.',
      },
    };
  },
  methods: {
    addTask() {
      if (this.newTask) {
        this.tasks.push({ title: this.newTask, completed: false });
        this.newTask = '';
      }
    },
    markCompleted(index) {
      this.tasks[index].completed = !this.tasks[index].completed;
    },
  },
};
</script>

<style>
.task-completed {
  text-decoration: line-through !important;
  color: grey !important;
}
</style>
