<template>
  <h1>Part One</h1>
  <PartOne/>
  <h1>TaskList</h1>
  <TaskList/>
</template>

<script>
import TaskList from './components/TaskList.vue'
import PartOne from './components/PartOne.vue'


export default {
  name: 'App',
  components: {
    TaskList,
    PartOne
  }
}
</script>

<style>
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
